section.home-2(class="bg-Primary-Primary_01 section-py")
	.container 
		.home-2-heading(class="text-center rem:w-[1264px] mx-auto")
			h2(class="title-52 mb-3") About us
			.desc(class="text-xl font-normal text-Neutral-White") 
				p Blueness by Oceania is a premier beauty destination dedicated to providing high-quality nail care, skincare, and advanced aesthetic treatments. Over the past six years, we have built a reputation for excellence, combining artistry, technology, and expert knowledge to enhance our clients’ natural beauty.
			.home-2-btn(class="mt-base flex-center") 
				+ButtonPrimary()
		.home-2-list(class="grid lg:grid-cols-4 md:grid-cols-2 gap-5")
			.home-2-item
				.icon 
					a(href="#")
						img(src="./img/icon-1.svg", alt="") 
				.content 
					.top 
						h3 Expertise & Experience
					.bottom 
						.desc 
							p Our highly trained team has years of experience and internationally recognized certifications.
			.home-2-item
				.icon 
					a(href="#")
						img(src="./img/icon-1.svg", alt="") 
				.content 
					.top 
						h3 Premium Products & Technology 
					.bottom 
						.desc 
							p We use only the best products and state-of-the-art technology to deliver superior results.
			.home-2-item
				.icon 
					a(href="#")
						img(src="./img/icon-1.svg", alt="") 
				.content 
					.top 
						h3 Expertise & Experience
					.bottom 
						.desc 
							p Our highly trained team has years of experience and internationally recognized certifications.
			.home-2-item
				.icon 
					a(href="#")
						img(src="./img/icon-1.svg", alt="") 
				.content 
					.top 
						h3 Expertise & Experience
					.bottom 
						.desc 
							p Our highly trained team has years of experience and internationally recognized certifications.