section.home-3(class="bg-bg-service bg-Primary-Primary_01")
	.container 
		h2(class="title-52 mb-base") Services
	.home-3-main(class="flex rem:gap-[10px] rem:px-[25px] relative overflow-hidden") 
		.col-left.active(class="rem:w-[1180px]")
			.image(class="relative") 
				a(href="#" class="img-ratio ratio:pt-[810_1180] rounded-tl-3xl rounded-bl-3xl")
					img(src="./img/service-bg.png", alt="") 
				
				.content(class="absolute top-2/4 -translate-y-2/4 left-2/4 -translate-x-2/4 rem:w-[675px] text-center z-40") 
					h3(class="title-64 mb-5 text-Neutral-White") Beauty & Aesthetic
					.desc(class="text-lg font-normal text-Neutral-White mb-base") 
						p Our high-tech aesthetic spa specializes in safe, effective, and minimally invasive treatments for various skin concerns. We combine relaxation with advanced skincare solutions to help clients achieve their desired results. Our team holds VTCT Level 4 certification in laser skin treatments, ensuring the highest standards of care and professionalism.
					.content-btn(class="flex items-center gap-6 justify-center") 
						.left 
							a(href="#" class="btn btn-primary primary")
								span Explore More
						.right 
							a(href="#" class="btn btn-primary white")
								span Discover More
		.col-right(class="w-[calc(100%-61.458333333333336rem-0.5208333333333334rem)] ")  
			.icon-left-right#switchColumns(class="absolute top-2/4 -translate-y-2/4 rem:w-[52px] rem:h-[52px] rounded-full bg-Neutral-White z-50 inline-flex items-center justify-center text-32 rem:left-[-30px] cursor-pointer") 
				i.fa-sharp.fa-solid.fa-left-right
			.image(class="relative") 
				a(href="#" class="img-ratio ratio:pt-[810_1180] rounded-tr-3xl rounded-br-3xl")
					img(src="./img/service-right.png", alt="") 
				
				.content(class="absolute top-2/4 -translate-y-2/4 left-2/4 -translate-x-2/4 rem:w-[675px] text-center z-40") 
					h3(class="title-64 mb-5 text-Neutral-White") Beauty & Aesthetic
					.desc(class="text-lg font-normal text-Neutral-White mb-base") 
						p Our high-tech aesthetic spa specializes in safe, effective, and minimally invasive treatments for various skin concerns. We combine relaxation with advanced skincare solutions to help clients achieve their desired results. Our team holds VTCT Level 4 certification in laser skin treatments, ensuring the highest standards of care and professionalism.
					.content-btn(class="flex items-center gap-6 justify-center") 
						.left 
							a(href="#" class="btn btn-primary primary")
								span Explore More
						.right 
							a(href="#" class="btn btn-primary white")
								span Discover More
				