.home-1(class="lg:block hidden relative")
	.swiper.swiper-home-banner
		.swiper-wrapper 
			.swiper-slide
				.home-1-banner(class="relative") 
					a(href="#" class="img-ratio ratio:pt-[960_1920] ")
						img(src="./img/banner-1.png", alt="") 
					.bg(class="absolute top-0 left-0 w-full h-full bg-linear-banner pointer-events-none")
					.home-1-play(class="absolute top-2/4 -translate-y-2/4 left-2/4 -translate-x-2/4 rem:w-[120px] rem:h-[120px]") 
						a(href="#" class="w-full h-full rounded-full inline-flex items-center justify-center")
							i.fa-duotone.fa-solid.fa-play
			.swiper-slide
				.home-1-banner(class="relative") 
					a(href="#" class="img-ratio ratio:pt-[960_1920]")
						img(src="./img/1.jpg", alt="") 
					.bg(class="absolute top-0 left-0 w-full h-full bg-linear-banner pointer-events-none")
			.swiper-slide
				.home-1-banner(class="relative") 
					a(href="#" class="img-ratio ratio:pt-[960_1920]")
						img(src="./img/banner-1.png", alt="") 
					.bg(class="absolute top-0 left-0 w-full h-full bg-linear-banner pointer-events-none")
	.swiper-pagination
	.arrow-button(class="absolute w-full flex items-center justify-between top-2/4 -translate-y-2/4 left-2/4 -translate-x-2/4 z-20 px-20")
		.btn.btn-prev.btn-sw-1.secondary
		.btn.btn-next.btn-sw-1.secondary